<div class="container">
  <div class="home navs" routerLink="">
    <img src="assets/home-icon.png" alt="home-icon" class="icons" id="first">
    <div class="names">Home</div>
  </div>
  <div class="projects navs" routerLink="projects">
    <img src="assets/project-icon.png" alt="projects-icon" class="icons">
    <div class="names">Projects</div>
  </div>
  <div class="test-run navs" routerLink="test-runs">
    <img src="assets/test-run-icon.png" alt="test-run-icon" class="icons">
    <div class="names">Test Runs</div>
  </div>
  <div class="test-plan navs" routerLink="test-plans">
    <img src="assets/test-plan-icon.png" alt="test-plan-icon" class="icons">
    <div class="names">Test Plans</div>
  </div>
  <div class="settings navs" routerLink="settings">
    <img src="assets/settings-icon.png" alt="settings-icon" class="icons">
    <div class="names">Settings</div>
  </div>
  <div class="profile navs">
    <img src="assets/profile-icon.png" alt="profile-icon" class="icons">
    <div class="names">Profile</div>
  </div>
  <div class="logout navs">
    <img src="assets/logout-icon.png" alt="logout-icon" class="icons">
    <div class="names">Logout</div>
  </div>
</div>
