<div class="container">

    <div class="test-results">
        <div class="result">
            <div class="title">Result: </div>
            <div class="value">Passed</div>
            <div class="dot"></div>
        </div>

        <div class="comments-section">
                <div class="title">Comments: </div>
                <div class="comments">Passed successfully</div>
        </div>
    </div>

    <div class="vertical-bar"></div>



    <div class="details">

        <div class="feild">
            <div class="title">Executed By: </div>
            <div class="value">Sachin</div>
        </div>

        <div class="feild">
            <div class="title">Executed On: </div>
            <div class="value">12/12/2019</div>
        </div>

        <div class="feild">
            <div class="title">Project: </div>
            <div class="value">GK Test Pro</div>
        </div>

        <div class="feild">
            <div class="title">Baseline: </div>
            <div class="value">Login</div>
        </div>

        <div class="feild">
            <div class="title">Test Plan: </div>
            <div class="value">Septa Test</div>
        </div>

    </div>

</div>