<div class="dash">
  <div class="report-heading">Settings</div>
  <div class="bdy">
    <div class="about-tab tabs">
      <div class="sub-head">About</div>
      <div class="bar"></div>
      <div class="actions">
        <div class="action">
          <div class="action-name">Version:</div>
          <div class="action-value">1.0.0</div>
        </div>
        <div class="action">
          <div class="action-name">Last Updated:</div>
          <div class="action-value">10/14/2023</div>
        </div>
      </div>
    </div>
    <div class="import-tab tabs">
      <div class="sub-head">Import</div>
      <div class="bar"></div>
      <div class="actions">
        <div class="action lnks" (click)="this.toImportCases()">Import Test Cases</div>
      </div>
    </div>
    <div class="admin-tab tabs">
      <div class="sub-head">Administration</div>
      <div class="bar"></div>
      <div class="actions">
        <div class="action lnks">View/Edit Users</div>
        <div class="action lnks" (click)="this.toAddUser()">Add User</div>
      </div>
    </div>
    <div class="integration-tab tabs">
      <div class="sub-head">Integration</div>
      <div class="bar"></div>
      <div class="actions">
        <div class="action lnks">Jira Integration Settings</div>
      </div>
    </div>
  </div>
</div>