<div class="projects">
    <div class="header">
        <div>
            <div class="report-heading">Test Bank</div>
        </div>

        <div class="srch">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search">
            </div>
            <div class="search-icon"></div>

            <div class="filter-button">
                <button class="filter-btn">Filter</button>
            </div>

        </div>



        <div class="add-project-div">
            <button class="add-project-btn" (click)="this.toAddTestCase()">+ Add Test Case</button>
        </div>

    </div>

    <div class="project-list" *ngFor="let test of testCases">
        <app-test-case-tab [test]="test" (click)="toTestCase(test)"></app-test-case-tab>    
    </div>

    <div class="page-nav">
        <button *ngIf="currentPage != 1" class="filter-btn" (click)="previousPage()">Previous</button>
        <button *ngIf="currentPage != testResult.pages" class="filter-btn" (click)="nextPage()">Next</button>
    </div>
</div>