<div class="projects">
    <div class="header">
        <div>
            <div class="report-heading">Test Bank</div>
        </div>

        <div class="srch">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search">
            </div>
            <div class="search-icon"></div>

            <div class="filter-button">
                <button class="filter-btn">Filter</button>
            </div>

        </div>



        <div class="add-project-div">
            <button class="add-project-btn">+ Add Test Case</button>
        </div>

    </div>

    <div class="project-list">
        <app-test-case-tab routerLink="test-case/ovw"></app-test-case-tab>
        <app-test-case-tab></app-test-case-tab>
        <app-test-case-tab></app-test-case-tab>
        <app-test-case-tab></app-test-case-tab>
        <app-test-case-tab></app-test-case-tab>
        <app-test-case-tab></app-test-case-tab>
        <app-test-case-tab></app-test-case-tab>
    </div>
</div>