.sidebar{
  position: fixed;
  bottom: 0;
  right:0;
  top: 80px;
  width: 350px;
  background-color: rgb(226, 225, 210);
  border-left: rgb(206, 204, 200) solid 2px;
}

.report{
  margin: 20px;
  padding: 10px;
  background-color: rgb(226, 225, 210);
  margin-right: 370px;
  height: 500px;
  border: none;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.report-heading{
  font-size: xx-large;
  font-weight:800;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

.bar-graph{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 435px;
  background-color: white;
  border: none;
  border-radius: 7px;
}


.projects{
  margin: 20px;
  background-color: rgb(226, 225, 210);
  margin-right: 370px;
  padding:10px;
  border: none;
  border-radius: 7px;
}

.add-project-div{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.add-project-btn{
  border: 2px solid #5d3caa;
  border-radius: 7px;
  background-color: #5d3caa;
  font-size: x-large;
  font-weight: bold;
  color: white;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* transition: 0.5s; */
}

.add-project-btn:hover{
  background-color: white;
  color: #421f94;
  border: 2px solid #5d3caa;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.add-project-btn:active{
  background-color: rgb(165, 155, 155);
  transition: 0s;
}

.todos{
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  border: none;
  border-radius: 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 174, 255);
}

.todo-heading{
  font-size: xx-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.bar{
  height: 5px;
  background-color: rgb(0, 174, 255);
}

.todo-list{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-item{
  margin-top: 3px;
  list-style: none;
}

.todo-item:hover{
  color: rgb(0, 174, 255);
  cursor: pointer;
}

.chrt{
  display: block;
  visibility: visible;
}


.header{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.search-bar{

  margin-left: 20px;
  margin-right: 20px;
}

.search-input{
  border: none;
  border-radius: 7px;
  padding: 5px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.filter-btn{
  border: 2px solid #5d3caa;
  border-radius: 7px;
  background-color: #5d3caa;
  font-size: large;
  font-weight: bold;
  color: white;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
}

.filter-btn:hover{
  background-color: white;
  color: #421f94;
  border: 2px solid #5d3caa;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.filter-btn:active{
  background-color: rgb(165, 155, 155);
  transition: 0s;
}
