<div class="dash">

  <div class="sidebar">

    <div class="add-project-div">
      <button class="add-project-btn">+ Add Project</button>
    </div>

    <div class="todos">

      <div class="todo-heading">To-Do</div>

      <div class="bar"></div>

      <div class="todo-list">
        <li class="todo-item"><a>To-Do Item 1</a></li>
        <li class="todo-item"><a>To-Do Item 2</a></li>
      </div>
    </div>

  </div>

  <div class="report">Reports</div>

  <div class="projects">Projects</div>

</div>
