.container {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.title {
    padding-left: 5px;
    font-size: x-large;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.arrow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 800;
    color: rgb(49, 49, 233);
    visibility: hidden;
}

.container:hover .arrow {
    visibility: visible;
}

.container:hover {
    background-color: rgb(216, 231, 250);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}