<div class="container">
  <div class="main-info">
    <div class="header">
      <div class="title">Health Check</div>
      <div class="state">
        <div class="active"></div>
        <div class="text">Active</div>
      </div>
      <div class="status">
        <div class="category">
          <div class="icon" id="passed"></div>
          <div class="text">Passed: 75</div>
        </div>
        <div class="category">
          <div class="icon" id="failed"></div>
          <div class="text">Failed: 5</div>
        </div>
        <div class="category">
          <div class="icon" id="blocked"></div>
          <div class="text">Blocked: 3</div>
        </div>
        <div class="category">
          <div class="icon" id="not-run"></div>
          <div class="text">Not Run: 17</div>
        </div>

      </div>
    </div>
    <div class="info">
      <div class="owner">- Created By: Chi Nguyen</div>
      <div class="asignee"> - Assigned To: Ketan Dhingra</div>
      <div class="date">- Started On: 12/12/2019</div>
    </div>
  </div>
  <div class="arrow">></div>
</div>