<div class="dash">

    <div class="sidebar">
  
      <div class="sub-heading">Actions</div>

      <div class="bar"></div>

      <div class="action-tabs">
        <div class="action-heading">Baselines</div>
        <div class="actions">
            <a href="" class="action">Add</a>
            <div class="seperator">|</div>
            <a href="" class="action">View</a>
        </div>
      </div>

      <div class="action-tabs">
        <div class="action-heading">Test Runs</div>
        <div class="actions">
            <a href="" class="action">Add</a>
            <div class="seperator">|</div>
            <a href="" class="action">View</a>
        </div>
      </div>

      <div class="action-tabs">
        <div class="action-heading">Test Plans</div>
        <div class="actions">
            <a href="" class="action">Add</a>
            <div class="seperator">|</div>
            <a href="" class="action">View</a>
        </div>
      </div>

      <div class="action-tabs">
        <div class="action-heading">Test Cases</div>
        <div class="actions">
            <a href="" class="action">Add</a>
            <div class="seperator">|</div>
            <a href="" class="action">View</a>
        </div>
      </div>
  
    </div>
  
    <div class="report">
      <div class="report-heading">Health Check</div>
      <div class="ownr">- Owner: Chi Nguyen</div>
      <div class="bar-graph">
        <canvas class="chrt" id="chrt"></canvas>
      </div>
    </div>
  
    <div class="projects">
      <div class="header">
        <div class="report-heading">Active Test Runs</div>
  
        <div class="search-bar">
          <input type="text" class="search-input" placeholder="Search">
        </div>
  
        <div class="search-icon"></div>
  
        <div class="filter-button">
          <button class="filter-btn">Filter</button>
        </div>
  
      </div>
  
      <div class="project-list">
        <app-test-run-tab></app-test-run-tab>
        <app-test-run-tab></app-test-run-tab>
        <app-test-run-tab></app-test-run-tab>
        <app-test-run-tab></app-test-run-tab>
        <app-test-run-tab></app-test-run-tab>
        <app-test-run-tab></app-test-run-tab>
        <app-test-run-tab></app-test-run-tab>
      </div>
    </div>
  
  </div>