<div class="projects">
  <div class="header">
    <div>
      <div class="report-heading">Projects</div>
    </div>

    <div class="srch">
      <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search">
      </div>
      <div class="search-icon"></div>

      <div class="filter-button">
        <button class="filter-btn">Filter</button>
      </div>

    </div>



    <div class="add-project-div">
      <button class="add-project-btn">+ Add Project</button>
    </div>

  </div>

  <div class="project-list">
    <app-project-tab></app-project-tab>
    <app-project-tab></app-project-tab>
    <app-project-tab></app-project-tab>
    <app-project-tab></app-project-tab>
    <app-project-tab></app-project-tab>
    <app-project-tab></app-project-tab>
    <app-project-tab></app-project-tab>
  </div>
</div>