<div class="container">
    <div class="login-tab">
        <div class="login-heading">Login</div>
        <div class="login-form">
            <div class="username tabs">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter your username">
            </div>
            <div class="password tabs">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password">
            </div>
            <div class="login-button">
                <button class="login-btn">Login</button>
            </div>
        </div>
    </div>
</div>