<div class="container">
    <div class="main-info">
        <div class="header">
            <div class="title">Test Case</div>
        </div>
        <div class="info">
            <div class="owner">Latest Execution Details:</div>
            <div class="owner">- Project: Health Check</div>
            <div class="owner">- Baseline: 3.0.1</div>
            <div class="owner">- Result: Passed</div>
            <div class="asignee"> - Tested On: 12/12/2019</div>
            <div class="owner">- Tested By: Chi Nguyen</div>
        </div>
    </div>
    <div class="arrow">></div>
</div>