<div class="container">
    <div class="sidebar">

        <div class="sub-heading">Actions</div>
        <div class="bar"></div>
        <button class="action-heading dtls" routerLink="ovw">Details</button>
        <button class="action-heading execs" routerLink="history">Execution History</button>

    </div>

    <div class="window">
        <div class="header">
            <div class="name">Test Case</div>
            <div class="date">- Created On: 12/10/2023</div>
            <div class="date">- Last Modified: 15/10/2023</div>
            <button class="btn">&#60; Previous</button>
            <button class="btn">Next ></button>
            <button class="btn">Edit</button>

        </div>

        <!-- <app-test-case-overview class="ovw"></app-test-case-overview>
        <app-test-case-executions class="exe"></app-test-case-executions> -->
        <router-outlet></router-outlet>

    </div>

</div>