<div class="dash">
  <div class="header">
    <div class="go-back" routerLink="settings"> &#60; Settings</div>
    <div class="profile-pic">
      <img src="assets/user-icon.png" alt="profile-pic" class="profile-pic">
    </div>
  </div>


  <div class="bdy">
    <div class="infos">
      <div class="info">
        <div class="title">Name:</div>
        <div class="value">
          <input type="text" class="search-input" placeholder="Ketan Dhingra">
        </div>
      </div>

      <div class="info">
        <div class="title">Email:</div>
        <div class="value">
          <input type="email" class="search-input" placeholder="kda59@sfu.ca">
        </div>
      </div>

      <div class="info">
        <div class="title">User ID:</div>
        <div class="value">
          <input type="text" class="search-input" placeholder="Kdhingra">
        </div>
      </div>

      <div class="info">
        <div class="title">Password:</div>
        <div class="value">
          <input type="password" class="search-input">
        </div>
      </div>

      <div class="info">
        <div class="title">Role:</div>
        <div class="value">
          <select name="role" id="role" class="search-input">
            <option value="" disabled>Select an option</option>
            <option value="admin">Admin</option>
            <option value="tester">Senior Tester</option>
            <option value="developer">Junior Tester</option>
          </select>
        </div>
      </div>
    </div>

    <div class="jobs">
      <div class="tab-title">Assigned Jobs</div>
      <div class="bar"></div>
      <div class="duties">
        <div class="duty">Health Check</div>
        <div class="duty">AI Dashcam</div>
      </div>
    </div>
  </div>

  <div class="footer">

    <div class="save">
      <button class="save-btn btn">Save</button>
    </div>

    <div class="cancel">
      <button class="cancel-btn btn">Cancel</button>
    </div>

  </div>

</div>