<div class="container">
    <div class="sidebar">

        <div class="sub-heading">Actions</div>
        <div class="bar"></div>
        <div class="action-heading">Details</div>
        <div class="action-heading">Executions</div>

    </div>

    <div class="window">
        <div class="header">
            <div class="name">Test Case</div>
            <div class="date">- Created On: 12/10/2023</div>
            <div class="date">- Last Modified: 15/10/2023</div>
            <button class="btn">&#60; Previous</button>
            <button class="btn">Next ></button>
            <button class="btn">Edit</button>

        </div>
        <div class="window-container">
            <div class="container-heading">
                <div class="hding">Summary</div>
                <div class="window-bar"></div>
            </div>
            <div class="content"></div>
        </div>
        <div class="window-container">
            <div class="container-heading">
                <div class="hding">Pre-Conditions</div>
                <div class="window-bar"></div>
            </div>
            <div class="content"></div>
        </div>
        <div class="window-container">
            <div class="container-heading">
                <div class="hding">Steps</div>
                <div class="window-bar"></div>
            </div>
            <div class="content"></div>
        </div>
        <div class="window-container">
            <div class="container-heading">
                <div class="hding">Expected Result</div>
                <div class="window-bar"></div>
            </div>
            <div class="content"></div>
        </div>
    </div>
</div>