<div class="window">
    <div class="window-container">
        <div class="container-heading">
            <div class="hding">Summary</div>
            <div class="window-bar"></div>
        </div>
        <div class="content">{{testCase.summary}}</div>
    </div>
    <div class="window-container">
        <div class="container-heading">
            <div class="hding">Pre-Conditions</div>
            <div class="window-bar"></div>
        </div>
        <div class="content">{{testCase.preCons}}</div>
    </div>
    <div class="window-container">
        <div class="container-heading">
            <div class="hding">Steps</div>
            <div class="window-bar"></div>
        </div>
        <div class="content">{{testCase.steps}}</div>
    </div>
    <div class="window-container">
        <div class="container-heading">
            <div class="hding">Expected Result</div>
            <div class="window-bar"></div>
        </div>
        <div class="content">{{testCase.expectedResult}}</div>
    </div>
</div>